<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>PRJ321x_Project_2_phuchvFX15907</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>username</param-name>
    <param-value>phuc@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>123</param-value>
  </context-param>
  <description></description>
  <display-name>AdminController</display-name>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>5000</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ConnectDatabase</display-name>
    <servlet-name>ConnectDatabase</servlet-name>
    <servlet-class>ConnectDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectDatabase</servlet-name>
    <url-pattern>/ConnectDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBContext</display-name>
    <servlet-name>DBContext</servlet-name>
    <servlet-class>context.DBContext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBContext</servlet-name>
    <url-pattern>/DBContext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cart</display-name>
    <servlet-name>Cart</servlet-name>
    <servlet-class>model.Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Orders</display-name>
    <servlet-name>Orders</servlet-name>
    <servlet-class>model.Orders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Orders</servlet-name>
    <url-pattern>/Orders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product</display-name>
    <servlet-name>Product</servlet-name>
    <servlet-class>model.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductOrders</display-name>
    <servlet-name>ProductOrders</servlet-name>
    <servlet-class>model.ProductOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductOrders</servlet-name>
    <url-pattern>/ProductOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProductDAO</display-name>
    <servlet-name>ListProductDAO</servlet-name>
    <servlet-class>dao.ListProductDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductDAO</servlet-name>
    <url-pattern>/ListProductDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDAO</display-name>
    <servlet-name>OrderDAO</servlet-name>
    <servlet-class>dao.OrderDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDAO</servlet-name>
    <url-pattern>/OrderDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListController</display-name>
    <servlet-name>ListController</servlet-name>
    <servlet-class>controller.product.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListController</servlet-name>
    <url-pattern>/ListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>controller.product.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartController</display-name>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>controller.AddToCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InformationProductController</display-name>
    <servlet-name>InformationProductController</servlet-name>
    <servlet-class>controller.InformationProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformationProductController</servlet-name>
    <url-pattern>/inforproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayController</display-name>
    <servlet-name>PayController</servlet-name>
    <servlet-class>controller.PayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayController</servlet-name>
    <url-pattern>/PayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController2</display-name>
    <servlet-name>SearchController2</servlet-name>
    <servlet-class>controller.SearchController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController2</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountDAO</display-name>
    <servlet-name>AccountDAO</servlet-name>
    <servlet-class>dao.AccountDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDAO</servlet-name>
    <url-pattern>/AccountDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantityIncDecController</display-name>
    <servlet-name>QuantityIncDecController</servlet-name>
    <servlet-class>QuantityIncDecController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantityIncDecController</servlet-name>
    <url-pattern>/quantity-inc-dec</url-pattern>
  </servlet-mapping>
</web-app>